aiogram
python-dotenv
colorama
progress
jmespath
pika
schedule
pymongo
pyautogui
python_docx
openpyxl
SpeechRecognition
PyAudio
gTTS
pyttsx3
segno
qrcode[pil]
fpdf
tornado
redis
rejson
requests
beautifulsoup4
selenium
webdriver-manager